/* src/Footer.css */
.footer {
    background-color: black; /* Consistent with the navbar */
    color: #f9db79;;
    padding: 1rem;
    text-align: center; /* Center the text */
    position: sticky;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items */
  }
  
  .social-links {
    margin-top: 0.5rem;
  }
  
  .social-links a {
    color: white; 
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #f9db79; 
  }
  
  .social-links a svg {
    font-size: 24px; 
  }