.blog-posts-container {
  max-width: 800px; 
  margin: 40px auto;
  padding: 20px;
  background-color: inherit;
  border-radius: 12px;
}

.blog-posts-list {
  display: flex;
  flex-direction: column; /* Single column layout */
  gap: 40px; /* Increased gap for a magazine-like feel */
  text-align: center;
}

.blog-post-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd; /* Magazine-like border */
}

.blog-post-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.blog-post-item-title {
  font-size: 1.8rem; /* Larger title for emphasis */
  color: black;
  margin: 10px 0;
}

.blog-post-item-excerpt {
  font-size: 1.1rem; /* Slightly larger excerpt for readability */
  color: black;
  margin: 0 0 10px;
}

.blog-post-item-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px; /* Increased margin for spacing */
  object-fit: cover;
  height: 300px; /* Set a fixed height for uniformity */
}

.blog-post-author{
  text-align: right;
  font-weight: 800;
}
