/* src/Body.css */
.body-container {
    padding: 20px;
    text-align: center;
}

.main-content {
    background-color: black;
    /* Purple background */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border-radius: 12px;
    height: 440px;
}


.image-container,
.content-text {
    flex: 1;
    height: 100%;
}

.content-text {
    text-align: left;
    padding-left: 20px;
    background-color: black;
    height: 120px;
}

.content-text p {
    word-spacing: 3px;
    font-size: larger;
}

.content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures image covers full space */
    border-radius: 10px;
}

.recent-posts-container {
    background-color: inherit;
    /* Light grey background for posts */
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

.recent-posts-title {
    font-size: 2rem;
    color: #333;
    /* Dark color for title */
    margin-bottom: 20px;
}

.posts-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    cursor: pointer;
}

.post-item {
    background-color: #fff;
    /* White background for recent posts */
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    /* Left align text */
    transition: transform 0.2s;
    /* Hover effect */
}

.post-item:hover {
    transform: scale(1.05);
    /* Enlarge on hover */
}

.post-item-image {
    width: 100%;
    /* Responsive width */
    height: 30%;
    /* Maintain aspect ratio */
    border-radius: 8px;
    /* Rounded corners */
}

.post-item-title{
    text-align: center;
}
.post-item-author{
    text-align: right;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        padding: 20px;
    }

  
    .image-container, .content-text{
        flex-direction: column;
        width: 250px;
    }

    .content-text{
        width: 300px;
    }
    .content-text p{
        font-size: small;
    }

    .recent-posts-title {
        font-size: 1.5rem;
        /* Adjust title size */
    }

    .posts-list {
        grid-template-columns: 1fr;
        /* Single column layout for smaller screens */
    }

    .post-item {
        padding: 10px;
        /* Reduce padding for smaller screens */
    }
}