main {
  padding: 10px;
  max-width: 1366px;
  margin: 0 auto;
  background-color: #f9db79;
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  color: black;
  height: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}