main {
  padding: 10px;
  max-width: 1366px;
  margin: 0 auto;
  background-color: black;
  font-family: "Reddit Sans Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  color: black;
  height: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}